In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

## Reflect Tables into SQLAlchemy ORM

In [3]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [5]:
# create engine to hawaii.sqlite
database_path = "Resources/hawaii.sqlite"
engine = create_engine(f"sqlite:///{database_path}")
conn = engine.connect()

In [8]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [9]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [10]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [11]:
# Create our session (link) from Python to the DB
session = Session(engine)

## Exploratory Precipitation Analysis

In [57]:
# Find the most recent date in the data set.
most_recent = session.query(Measurement).order_by(Measurement.date.desc()).first()
last_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x2e89730e5f8>,
 'date': '2017-08-23',
 'prcp': 0.0,
 'id': 2724,
 'station': 'USC00519397',
 'tobs': 81.0}

In [24]:
most_recent = most_recent.__dict__['date']
most_recent

'2017-08-23'

In [94]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 
most_recent = dt.datetime.strptime('2017-08-23', '%Y-%m-%d').date()
most_recent #2017-08-23

# Calculate the date one year from the last date in data set.
year_ago = most_recent - dt.timedelta(days=365)
year_ago #2016-08-23

# Perform a query to retrieve the data and precipitation scores

#query = engine.execute('select date, prcp from Measurement').fetchall()

#query



#results = session.query(query).\
    #filter(Measurement.date >= year_ago, Measurement.date <= most_recent).all()




# Save the query results as a Pandas DataFrame and set the index to the date column
data = pd.read_sql("SELECT date, prcp FROM Measurement", conn, index_col='date')
data

# Sort the dataframe by date


# Use Pandas Plotting with Matplotlib to plot the data

            prcp
date
2010-01-01  0.08
2010-01-02  0.00
2010-01-03  0.00
2010-01-04  0.00
2010-01-06   NaN
...          ...
2017-08-19  0.09
2017-08-20   NaN
2017-08-21  0.56
2017-08-22  0.50
2017-08-23  0.45

[19550 rows x 1 columns]

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

## Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

## Close Session

In [ ]:
 # Close Session
session.close()