In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

## Reflect Tables into SQLAlchemy ORM

In [3]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [5]:
# create engine to hawaii.sqlite
database_path = "Resources/hawaii.sqlite"
engine = create_engine(f"sqlite:///{database_path}")
conn = engine.connect()

In [8]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [9]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [10]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [11]:
# Create our session (link) from Python to the DB
session = Session(engine)

## Exploratory Precipitation Analysis

In [57]:
# Find the most recent date in the data set.
last_row = session.query(Measurement).order_by(Measurement.date.desc()).first()
last_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x2e89730e5f8>,
 'date': '2017-08-23',
 'prcp': 0.0,
 'id': 2724,
 'station': 'USC00519397',
 'tobs': 81.0}

In [24]:
last_date = last_row.__dict__['date']
last_date

'2017-08-23'

In [56]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 
last_date = dt.datetime.strptime('2017-08-23', '%Y-%m-%d').date()
last_date
# Calculate the date one year from the last date in data set.
year_ago = last_date - dt.timedelta(days=365)
year_ago

# Perform a query to retrieve the data and precipitation scores


# Save the query results as a Pandas DataFrame and set the index to the date column
#data = pd.read_sql("SELECT * FROM Census_Data", conn)

# Sort the dataframe by date


# Use Pandas Plotting with Matplotlib to plot the data

datetime.date(2017, 8, 23)

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

## Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

## Close Session

In [ ]:
 # Close Session
session.close()